:root {
  --bg: #2E282A;
  --blue: #4285F4;
  --red: #DB4437;
  --yellow: #F4B400;
  --green: #0F9D58;
}

body {
  background-color: var(--bg);
  max-height: 100vh;
  overflow: hidden;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  user-select: none;
  overflow: hidden;
}

.App-window {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  position: absolute;
  top: 100vh;
  left: 0;
  background: radial-gradient(circle, rgba(46,40,42,1) 50%, rgba(23,20,21,1) 100%);
  transition: all 0.5s;
  overflow: auto;
  padding: 10vh 10vw;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App-window.visible {
  top: 0;
}

#Splash h1 {
  margin: 0;
  padding: 0 0 5px;
  border-bottom: 1px solid var(--red);
  text-transform: uppercase;
}

#Splash h1 svg {
  margin: 0 20px;
}

#Splash .About-link {
  position: absolute;
  bottom: 0;
}

#Splash .About-link span {
  cursor: pointer;
  color: rgba(255,255,255,0.3);
  padding: 10px;
  display: inline-block;
  transition: color 0.3s;
}

#Splash .About-link span:hover {
  color: rgba(255,255,255,0.5);
}

.App-window p {
  margin: 5px 0 50px;
}

.App-window a {
  text-decoration: none;
  color: var(--blue);
  transition: opacity 0.2s;
}

.App-window a:hover {
  opacity: 0.8;
}

.Close-window {
  position: fixed;
  right: 15px;
  top: 100vh;
  transition: all 0.5s;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}

.visible .Close-window {
  top: 15px;
}

#Search-results {
  display: block;
  padding: 0;
}

#Search-results h2 {
  margin-top: 16px;
}

.Search-result {
  border-top: 1px solid rgba(255,255,255,0.2);
  cursor: pointer;
  padding: 0 1vw;
}

.Search-result:last-of-type {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.Search-result:nth-of-type(odd) {
  background: rgba(255,255,255,0.02);
}

.Search-result h3 {
  margin-top: 16px;
  margin-bottom: 0;
}

.Search-result p {
  margin-top: 5px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

#Search-results-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.Search-page {
  cursor: pointer;
  background: rgba(255,255,255,0.1);
  width: 30px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px 3px;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.Search-page:not('.disabled'):hover {
  opacity: 1;
}

.Search-page.disabled {
  opacity: 0.5;
}

input, button {
  outline: none !important;
}

.Splash-search input[type=text] {
  padding: 16px 22px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 0.8em;
  background: rgba(255,255,255,0.9);
  transition: all 0.3s;
  width: calc(190px + 4vw);
  max-width: 220px;
}

.Splash-search input[type=text]:hover,
.Splash-search input[type=text]:focus {
  background: rgba(255,255,255,1);
}

.Splash-search button[type=submit] {
  font-size: 0.8em;
  padding: 16px 22px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 20px;
  background: var(--blue);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.95;
  font-weight: bold;
}

.Splash-search button[type=submit]:hover {
  opacity: 1;
}

.Movie-inner-wrapper {
  width: 90vw;
  max-width: 1200px;
}

.Movie-meta ul {
  list-style: none;
  margin: 0;
}

.Movie-header .poster {
  width: 90vw;
  max-width: 300px;
  transform: translateZ(45);
  float: right;
  margin-left: 2vw;
  box-shadow: 0 3px 15px rgba(0,0,0,0.5);
  border: 10px solid #111;
}

.Movie-header {
  background: rgba(255,255,255,0.2);
  padding: 10px 10px 1px 30px;
  text-align: right;
}

.Movie-header h1 {
  border-bottom: 1px solid var(--red);
  padding-bottom: 5px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.Movie-header h2 {
  margin-top: 5px;
}

.Movie-meta ul {
  padding: 30px 0 0;
}

.Movie-meta ul li {
  text-align: left;
  min-height: 32px;
  margin-bottom: 20px;
  line-height: 1.3em;
}

.Movie-meta ul li h3 {
  border-bottom: 1px solid var(--blue);
  display: inline-block;
  padding: 0 16px 0 5px;
  border-bottom-right-radius: 15px;
  margin: -5px 1vw 0px 0;

}

.Movie-meta ul li h3:after {
    content: "➤";
    display: inline-block;
    width: 0;
    height: 0;
    color: var(--blue);
    position: relative;
    top: calc(7.5px + 0.425vh);
    transform: rotate(-30deg);
    font-weight: 100;
    left: calc(3px - 0.2vw);
}

/* Responsive stuff */

@media all and (max-width: 768px) {
  .visible .Close-window {
    top: 10px;
  }
  #Movie-info {
    padding-top: 3vh;
  }
  .Splash-search input[type=text] {
    width: 50vw;
  }
  .Splash-search input[type=text],
  .Splash-search button[type=submit] {
    padding: 10px 12px;
  }
  #Splash h1 {
    font-size: calc(16px + 1vw);
  }
  #Splash h1 svg {
    margin: 0 10px;
  }
  .Movie-inner-wrapper {
    min-height: 1px;
  }
  .Movie-header {
    padding: 10px;
  }
  .Movie-header,
  .Movie-meta ul li {
    text-align: center;
  }
  .Movie-header .poster {
    float: none;
    padding: 0;
    margin: 0 auto;
    width: 75vw;
  }
  .Movie-header p {
    margin-bottom: 10px;
  }
}
