:root {
  --bg: #2E282A;
  --blue: #4285F4;
  --red: #DB4437;
  --yellow: #F4B400;
  --green: #0F9D58;
}

body {
  background-color: var(--bg);
  max-height: 100vh;
  overflow: hidden;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  user-select: none;
  overflow: hidden;
}

.App-window {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  position: absolute;
  top: 100vh;
  left: 0;
  background: radial-gradient(circle, rgba(46,40,42,1) 50%, rgba(0,0,0,0.5) 100%);
  transition: all 0.5s;
  overflow: auto;
}

.App-window.visible {
  top: 0;
}

.App-window h1 {
  margin: 0;
  padding: 0 0 5px;
  border-bottom: 1px solid var(--red);
  text-transform: uppercase;
}

.App-window h1 svg {
  margin: 0 20px;
}

.App-window p {
  margin: 5px 0 50px;
}

.Close-window {
  position: fixed;
  top: 10px;
  right: -45px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}

.visible .Close-window {
  right: 18px;
}

#Search-results {
  display: block;
}

#Search-results h2 {
  margin-top: 16px;
}

.Search-result {
  border-top: 1px solid rgba(255,255,255,0.2);
  cursor: pointer;
  padding: 0 1vw;
}

.Search-result:last-of-type {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.Search-result:nth-of-type(odd) {
  background: rgba(255,255,255,0.02);
}

.Search-result h3 {
  margin-top: 16px;
  margin-bottom: 0;
}

.Search-result p {
  margin-top: 5px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

#Search-results-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.Search-page {
  cursor: pointer;
  background: rgba(255,255,255,0.1);
  width: 30px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px 3px;
}

input, button {
  outline: none !important;
}

.Splash-search input[type=text] {
  padding: 16px 22px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 0.8em;
  background: rgba(255,255,255,0.9);
  transition: all 0.3s;
  width: calc(190px + 4vw);
}

.Splash-search input[type=text]:hover,
.Splash-search input[type=text]:focus {
  background: rgba(255,255,255,1);
}

.Splash-search button[type=submit] {
  font-size: 0.8em;
  padding: 16px 22px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 20px;
  background: var(--blue);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.95;
  font-weight: bold;
}

.Splash-search button[type=submit]:hover {
  opacity: 1;
}

/* Responsive stuff */

@media all and (max-width: 768px) {
  .Splash-search input[type=text],
  .Splash-search button[type=submit] {
    padding: 10px 12px;
  }
}
